.colorsPanel {
  .headings{
    font-weight: bolder;
    padding-bottom: 0.5em;
    display:flex;
    // padding-left: 1em;
    justify-content: space-around;
  }
  overflow-y: scroll;
  flex: 50;
  .control.active {
    background-color: #ececec;
    border: solid 1px rgb(194, 194, 194);
    .colorView{
      border: solid #fff 3px;
      box-shadow: #111 0 0 0 3px;
    }
  }
  .control {
    padding: 0.5em;
    border-radius: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
    position: relative;
    .stopValue{
      // border:solid #111 1px;
      padding: 0.2em 0.5em;
      text-align: center;
      border-radius: 0.3em;
    }
    .deleteKey{
      position: absolute;
      left: 0.5em;
      cursor: pointer;
    }
    .deleteKey:hover svg path{
      fill: #4646a8;
      box-shadow: rgba(0, 0, 0, 0.486) 1px 2px 5px;
    }
    .colorView {
      height: 2em;
      width: 2em;
      border-radius: 0.5em;
      margin: 0.5em 0;
    }
    input {
      padding: 0.2em 0.5em;
      text-align: center;
      border-radius: 0.3em;
      border: solid 1px #444;
      height: 100%;
      width: 100%;
      font-weight: bold;
      // height: 2em;
      font-size: 1em;
      background-color: transparent;
    }
    input.stop {
      width: 3.5em;
    }
    input.color {
      width: 6.5em;
    }
  }
}
