header {
  background: #fff;
  padding: 0.1em 1em;
  display: flex;
  justify-content: space-between; }

header > div {
  display: flex;
  margin: auto 0;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-weight: bold; }

header > div div.modeChanger {
  background: #fff;
  filter: drop-shadow(rgba(0, 0, 0, 0.27) 0 1px 4px);
  padding: 0.3em 1em;
  border-radius: 9em;
  display: flex;
  gap: 0.3em; }

header > div div.modeChanger svg {
  height: 2em;
  width: 2em;
  padding: 0.3em 0.3em;
  cursor: pointer; }

header > div div.modeChanger .mode {
  border-radius: 0.5em;
  height: 2em;
  width: 2em;
  transition: all 0.3s ease-in-out; }

header > div div.modeChanger .active {
  background-color: #1f0505;
  filter: drop-shadow(rgba(0, 0, 0, 0.27) 0 1px 4px); }

header > div div.modeChanger .active svg path,
header > div div.modeChanger .active svg rect {
  fill: #fecc13;
  transition: all 0.3s ease-in-out; }
