#allControls {
  margin: 0 0.5em;
  background: #fff;
  border-radius: 2em;
  transform: translateY(2em);
  filter: drop-shadow(rgba(0, 0, 0, 0.486) 0 4px 8px);
  #gradientControls {
    background: #fff;
    height: 9em;
    border-radius: 2em;
    margin: 0 1em;
    transform: translateY(-50%);
    filter: drop-shadow(rgba(0, 0, 0, 0.486) 0 4px 8px);
    position: relative;

    padding: 3em;

    .gradientView {
      height: 3em;
      width: 100%;
      border-radius: 0.5em;
      border: solid 0.2em #fff;
      box-shadow: 0 0 0 4px #111;
    }
    .controls {
      position: relative;
      height: 3em;
      width: 100%;
      transform: translateY(-100%);
      cursor: pointer;
      .control.active {
        box-shadow: 0 0 0 4px rgb(24, 9, 53), 0 0 0 7px #4646a8;

        &:before {
          background: #000;
        }
        &:after {
          border: solid 2px #4646a8;
          color: #4646a8;
        }
      }
      .control {
        display: inline-block;
        width: 0.8em;
        height: 120%;
        border-radius: 10em;
        background-color: blue;
        border: solid 0.152em #fff;
        box-shadow: 0 0 0 4px #111;
        cursor: move;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(rgba(0, 0, 0, 0.671) 0 1px 4px);
        transition: 0s;
        &:before {
          content: "";
          height: 0.5em;
          width: 0.5em;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 210%) rotate(45deg);
          background: #444;
        }
        &:after {
          content: attr(data-value) "%";
          background: #fff;
          border: solid 2px #444;
          color: #222;
          padding: 0.4em 0.6em;
          position: absolute;
          font-size: 0.8em;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 130%);
          border-radius: 0.8em;
          font-weight: bold;
          box-shadow: rgba(0, 0, 0, 0.212) 0 1px 4px;
        }
      }
    }
  }

  .otherControls {
    margin-top: -3em;
    padding: 0 3em 1em 3em;
    display:flex;
    gap: 0.5em;
    #colorPicker{
      flex: 100;
    }
  }
}
